<!-- footer content -->
<!-- <footer>
          <div class="pull-right">
            2017. <a href="http://www.big.go.id">Badan Informasi Geospasial</a>
          </div>
          <div class="clearfix"></div>
        </footer> -->
<!-- /footer content -->
</div>
</div>

<!-- Detect Browser -->
<script src="app/js/detect-browser.js"></script>
<!-- jQuery -->
<script src="app/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="app/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="app/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="app/vendors/nprogress/nprogress.js"></script>
<!-- ECharts -->
<script src="app/vendors/echarts/dist/echarts.js"></script>
<!--<script src="app/vendors/echarts/map/js/jateng.js"></script>-->
<!-- Openlayers -->
<script src="app/vendors/openlayers/ol.js"></script>
<!-- D3 -->
<script src="app/vendors/d3js/d3.min.js"></script>
<!-- App -->
<script src="app/js/app.js"></script>

<!-- Custom Theme Scripts -->
<script src="app/js/custom.js"></script>
<script src="app/js/map_charts.js"></script>
<script src="app/js/kecamatan_charts.js"></script>
<script src="app/js/profil_provinsi.js"></script>
</body>

</html>